<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
        <script> 
            $(function(){
                $("#header").load("header.html");
            });
        </script>
    <title>Layout</title>
</head>
<body>
    <div id="header"></div>
    <section>
        <div></div>
            <main>
                <div class="container">
                    <div class="flexbox-left">
                        <h2>Main Content</h2>
                        <p>main content hier</p>
                    </div>
                    <div class="flexbox-right">
                        <h2>Side Bar</h2>
                        <p>side bar content hier</p>
                    </div>         
                </div>
            </main>
            <footer class="footer" id="footer">
                <p>nieuwe git</p>
            </footer>    
                 

    </section>

   
</body>
</html>