<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous">
    </script>
        <script> 
            $(function(){
                $("#header").load("header.html");
                $("#footer").load("footer.html");
            });
        </script>
    <title>Producten</title>
</head>
<body>
    <div id="header"></div>
    <!-- <div id="footer"></div> -->
    <table id="tableindex">
        <thead>
            <tr>
              <td></td>
              <th>Merk</th>
              <th>hoeveelheid</th>
              <th>Prijs</th>
              <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th>Whey Delicous</th>
              <td><a href="https://xxlnutrition.com/nl/?_gl=1*1xr2501*_up*MQ..&gclid=Cj0KCQjwtJKqBhCaARIsAN_yS_mgkS316rF7iSS-dORj_7XOZDQlpZ0EtvhlvyG_HTMdGf4vWdBvjecaAqTNEALw_wcB">XXL Nutrition</a></td>
              <td>1000 Gram</td>
              <td>29,99</td>
              <td><img src="https://xxlnutrition.com/media/catalog/product/cache/73fb52fa48b4d85cd19815f9f841ae49/w/h/whey_delicious_1000g_sweet_vanilla.png" alt="Whey protein" width="150px" height="150px"></img></td>
            </tr>
            <tr>
              <th>Black Label Pre-Workout</th>
              <td><a href="https://xxlnutrition.com/nl/?_gl=1*1xr2501*_up*MQ..&gclid=Cj0KCQjwtJKqBhCaARIsAN_yS_mgkS316rF7iSS-dORj_7XOZDQlpZ0EtvhlvyG_HTMdGf4vWdBvjecaAqTNEALw_wcB">XXL Nutrition</a></td>
              <td>390 Gram</td>
              <td>34,99</td>
              <td><img src="https://xxlnutrition.com/media/catalog/product/cache/73fb52fa48b4d85cd19815f9f841ae49/b/l/black_label-_pre-workout_-_with-caffeine__5.png" alt="Pre-Workout" width="150px"></img></td>
            </tr>
            <tr>
              <th>High Protein Bar 2.0</th>
              <td><a href="https://xxlnutrition.com/nl/?_gl=1*1xr2501*_up*MQ..&gclid=Cj0KCQjwtJKqBhCaARIsAN_yS_mgkS316rF7iSS-dORj_7XOZDQlpZ0EtvhlvyG_HTMdGf4vWdBvjecaAqTNEALw_wcB">XXL Nutrition</a></td>
              <td>20 Pack</td>
              <td>31,99</td>
              <td><img src="https://xxlnutrition.com/media/catalog/product/cache/73fb52fa48b4d85cd19815f9f841ae49/h/i/high_protein_bar_2023.png" alt="High Protein Bar 2.0" width="130px"></img></td>
            </tr>
            <tr>
              <th>Creatine Monohydraat</th>
              <td><a href="https://xxlnutrition.com/nl/?_gl=1*1xr2501*_up*MQ..&gclid=Cj0KCQjwtJKqBhCaARIsAN_yS_mgkS316rF7iSS-dORj_7XOZDQlpZ0EtvhlvyG_HTMdGf4vWdBvjecaAqTNEALw_wcB">XXL Nutrition</a></td>
              <td>500 Gram</td>
              <td>24,99</td>
              <td><img src="https://xxlnutrition.com/media/catalog/product/cache/73fb52fa48b4d85cd19815f9f841ae49/c/r/creatine_monohydate_500_gram__2021__1.png" alt="Creatine Monohydraat" width="130px"></img></td>
            </tr>
            <tr>
              <th>Fat Metabolic Support</th>
              <td><a href="https://xxlnutrition.com/nl/?_gl=1*1xr2501*_up*MQ..&gclid=Cj0KCQjwtJKqBhCaARIsAN_yS_mgkS316rF7iSS-dORj_7XOZDQlpZ0EtvhlvyG_HTMdGf4vWdBvjecaAqTNEALw_wcB">XXL Nutrition</a></td>
              <td>120 Capsules</td>
              <td>34,99</td>
              <td><img src="https://xxlnutrition.com/media/catalog/product/cache/73fb52fa48b4d85cd19815f9f841ae49/f/a/fat_metabolic_support__voorheen_fat_killer__en.png" alt="Fat Metabolic Support" width="110px"></img></td>
            </tr>
            <tr>
              <th>Diet Shake</th>
              <td><a href="https://xxlnutrition.com/nl/?_gl=1*1xr2501*_up*MQ..&gclid=Cj0KCQjwtJKqBhCaARIsAN_yS_mgkS316rF7iSS-dORj_7XOZDQlpZ0EtvhlvyG_HTMdGf4vWdBvjecaAqTNEALw_wcB">XXL Nutrition</a></td>
              <td>1200 Gram</td>
              <td>29,99</td>
              <td><img src="https://xxlnutrition.com/media/catalog/product/cache/73fb52fa48b4d85cd19815f9f841ae49/d/i/diet_shake_1200g_banaan_1.png" alt="Diet Shake" width="120px"></img></td>
            </tr>
        </tbody>
        <tfoot>
            <th colspan="3">"Illustratie"</th>
        </tfoot>
    </table>
</body>
</html>